@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text {
  background: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App .btn-play {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #71f79f;
  border-color: #71f79f;
}

.App .btn-play:focus,
.App .btn-play:hover {
  background-color: #71f79f;
  border-color: #71f79f;
  opacity: 0.8;
}

.btn-play .anticon-play-circle {
  font-size: 1.5rem;
  margin-left: 8px;
  margin-top: 2px;
}

.flag-card-wrap {
  width: 80%;
  margin-top: 5rem;
}

.App .nation-name {
  background: -webkit-linear-gradient(#09e85e, #16c172);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}